html {
  height: 100%;
}

body {
  height: 100%;
  font-family: arial;
}

#root {
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
}

.loader {
  position: fixed;
  right: 50vw;
  top: 40vh;
}

.side-nav-container {
  background: #2C3E46;
  color: #ffffff;
  height: 100%;
  width: 20%;
}

.landing-page {
  width: 80%;
  padding: 25px 0;
  background-color: #fafafa;
  overflow: scroll;
}

.current-price {
  height: 120px;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 25px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 4px 4px 10px -1px rgba(166,161,166,1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-price:last-of-type {
  margin-bottom: 0;
}

.current-price img {
  height: 100px;
  width: 100px;
  margin: 0 10px;
  object-fit: contain;
  object-position: center;
}

.current-price-info {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
